.container {
    display: flex;
    height: 100vh;
}

.file-list {
    flex: 0 0 300px;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

.code-viewer {
    flex: 1;
    padding: 10px;
    position: relative;
}

.code-viewer h2 {
    display: flex;
    align-items: center;
}

h2 .action-button {
    margin-left: 10px;
    padding-left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.code-viewer pre {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    position: relative;
}